body.dusk_view #lofi-main {
    background-image: url("/static/assets/dusk_view.jpg");
}

body.dusk_view .dusk_view {
    display: block !important;
    color: #010101;
}

body.dusk_view .selected {
  border: 5px solid #d83a34;
  background-color: #de918e;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}