#lofi-main {
    background-image: url("/static/assets/galaxy1.jpg");
}

.galaxy1 {
    display: block !important;
    color: #010101;
}

.selected {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}