body.galaxy1 #lofi-main {
    background-image: url("/static/assets/galaxy1.jpg");
}

body.galaxy1 .galaxy1 {
    display: block !important;
    color: #010101;
}

/*
body.galaxy1 .selected {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/


body.galaxy1 .selected {
  border: 5px solid #845b5c;
  background-color: #827172;
  color: white;
}