body.koi #lofi-main {
    background-image: url("../assets/koi.jpg");
}

body.koi .koi {
    display: block !important;
    color: #010101;
}

body.koi .selected {
  border: 5px solid #67462A;
  background-color: #EBB499;
}

