body.moonfield #lofi-main {
    background-image: url("/static/assets/moonfield.jpg");
}

body.moonfield .moonfield {
    display: block !important;
    color: #010101;
}

.selected {
  border: 5px solid #540464;
}