body.moonfield #lofi-main {
    background-image: url("../assets/moonfield.jpg");
}

body.moonfield .moonfield {
    display: block !important;
    color: #010101;
}

body.moonfield .selected {
  border: 5px solid #540464;
  background-color: #5a425e;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}