body.neon_haze #lofi-main {
    background-image: url("../assets/neon_haze.jpg");
    filter: blur(3px);
}

body.neon_haze .neon_haze {
    display: block !important;
    color: #010101;
}

body.neon_haze .selected {
  border: 5px solid #cc239a;
  background-color: #cf88ba;
}