body.neon_haze #lofi-main {
    background-image: url("/static/assets/neon_haze.jpg");
    filter: blur(3px);
}

body.neon_haze .neon_haze {
    display: block !important;
    color: #010101;
}

.selected {
  border: 5px solid #cc239a;
}