body.nightlight #lofi-main {
    background-image: url("/static/assets/nightlight.jpg");
}

body.nightlight .nightlight {
    display: block !important;
    color: #010101;
}

body.nightlight .selected {
  border: 5px solid #A7244D;
  background-color: #D5CEF3;
}