body.nightlight #lofi-main {
    background-image: url("../assets/nightlight.jpg");
}

body.nightlight .nightlight {
    display: block !important;
    color: #010101;
}

body.nightlight .selected {
  border: 5px solid #A7244D;
  background-color: #de9eb2;
}