.closeButton {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.panelFull {
    z-index: 20;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 4px double #6cf;
    border-radius: 5px;

    font-size: 90%;

    overflow: scroll;
    padding: 10px;

    height: fit-content;
    margin: auto;

    width: 95%;
    max-width: 500px;
}

.absoluteAlign {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#motivationCover {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 19;
}
