body.rose_city #lofi-main {
    background-image: url("/static/assets/rose_city.jpg");
}

body.rose_city .rose_city {
    display: block !important;
    color: #010101;
}

body.rose_city .selected {
  border: 5px solid #c42494;
  background-color: #c78bb5;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}



