body.template_city1 #lofi-main {
    background-image: url("../assets/city1.jpg");
}

body.template_city1 button {
    background-color: rgba(100, 200, 250, 0.7);
}
body.template_city1 button:hover {
    background-color: rgba(100, 200, 250, 1);
}

body.template_city1 .dropdown-content li:hover {
    background-color: rgba(255, 255, 255, 1);
}

body.template_city1 .template_city1 {
    display: block !important;
    color: #010101;
}

body.template_city1 .selected {
  border: 5px solid #0c2c54;
  background-color: #647891;
  color: white;
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}