button[data-setter] {
    outline: none;
    background: white;
    border: none;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    width: 30px;
    height: 30px;
    color: #a7555e;
    cursor: pointer;
    padding: 0;
}
button[data-setter]:hover {
    opacity: 0.5;
}
.setters {
    position: absolute;

    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.minutes-set {
    float: left;
}
.seconds-set {
    float: right;
}
.controlls {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;

    text-align: center;
}
.display-remain-time {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 65px;
    color: #a7555e;
}
#pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}
.play::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #a7555e;
}
.pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #a7555e;
    border-top: none;
    border-bottom: none;
}
#pause:hover {
    opacity: 0.8;
}
.e-c-base {
    fill: rgba(255, 255, 255, 0.6);
    stroke: #b6b6b6;
    stroke-width: 4px;
}
.e-c-progress {
    fill: none;
    stroke: #a7555e;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #fff;
    stroke: #a7555e;
    stroke-width: 2px;
}
#e-pointer {
    transition: transform 0.7s;
}

#alarmContainer .dropdown-content {
    display: block;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 5px;

    width: 300px;
}

#alarmContainer .dropdown-content > div {
    width: 300px;
    height: 300px;
    position: relative;
}

#alarmContainer .dropdown-content > p {
    padding: 10px;
    background-color: white;
}
