<!DOCTYPE html>
<html>
    <head>
        <title>wonderSplash</title>

        <link rel="stylesheet" href="/static/css/reset.css"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>

    <body>
        <div id = "header">
            <div id = "logo">
                wonderSplash
            </div>
        </div>

        {% block content %}{% endblock %}

        <div id = "footer">
            <p class="smalltext">By Sara Xiao, Sruthi Vadakuppa, Aarohi Pahurkar, and Shireen Malhotra</p>
            <p class="smalltext">InnovateHer 2024</p>
        </div>

        <script src="static/scripts/typeScriptMain.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.9.1/lib/p5.js"></script>
    </body>
</html>
