{% extends "base.html" %} {% block content %}
<div id="lofi-main">
    <div id="imageCredits">
        <div class="shireens_template"><a href="https://unsplash.com/photos/black-and-brown-wooden-bench-uchsMfei3RU">Image credit: Jonathan Formento from Unsplash</a></div>
    </div>

    <div id="buttonContainer">
        <div class="dropdown" id="styleContainer">
            <button type="button">STYLE</button>
            <ul class="dropdown-content hidden">
                <li class="cssToggle liButton startStyle" p5="fish" css-name="template_city1"><a>Dawn Lake</a></li>
                <li class="cssToggle liButton" p5="particle" css-name="shireens_template"><a>Hackney Central Station</a></li>
            </ul>
        </div>

        <div class="dropdown" id="musicContainer">
            <button type="button">MUSIC</button>
            <ul class="dropdown-content hidden">
                <li class="musicToggle liButton"><a>Silence</a></li>
                <li class="musicToggle liButton"><a>Harp</a></li>
                <li class="musicToggle liButton"><a>River</a></li>
                <li class="musicToggle liButton"><a>Song</a></li>
            </ul>
        </div>
    </div>
    <div id="p5Container"></div>
</div>

<script src="/static/scripts/index.js" defer></script>

{% endblock %}
