<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - wonderSplash</title>
        {% else %}
        <title>wonderSplash</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    </head>

    <body>
        <div id = "header">
            <a href="{{ url_for('index') }}"><div id = "logo">
                wonderSplash
            </div></a>
        </div>

        <div id = "content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>

        <div id = "footer">
            <p class="smalltext">By Sara Xiao, Sruthi Vadakuppa, Aarohi Pahurkar, and Shireen Malhotra</p>
            <p class="smalltext">InnovateHer 2024</p>
        </div>
    </body>
</html>
