{% extends "base.html" %} {% block content %}
<div id="lofi-main">
    <div id="buttonContainer">
        <div class="dropdown" id="styleContainer">
            <button type="button">STYLE</button>
            <ul class="dropdown-content hidden">
                <li class="cssToggle liButton"><a>template_example.css</a></li>
                <li class="cssToggle liButton" id="startStyle"><a>template_city1.css</a></li>
                <li class="cssToggle liButton"><a>sruthis_template.css</a></li>
                <li class="cssToggle liButton"><a>shireens_template.css</a></li>
            </ul>
        </div>

        <div class="dropdown" id="musicContainer">
            <button type="button">MUSIC</button>
            <ul class="dropdown-content hidden">
                <li class="musicToggle liButton"><a>Silence</a></li>
                <li class="musicToggle liButton"><a>Harp</a></li>
                <li class="musicToggle liButton"><a>River</a></li>
                <li class="musicToggle liButton"><a>Song</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/static/scripts/index.js" defer></script>
<script src="/static/scripts/fish.js" defer></script>

{% endblock %}
